<div class="formCreateAccount">

  <div class="validation">
    <div class="formGroup"
         :class="{ 'invalid' : errors.has('email')}">
      <label for="email">Account</label>
      <input type="email"
             name="email"
             id="email"
             data-vv-validate-on="none"
             v-validate="'required|email'"
             v-model="CreateAccount.email"
             placeholder="example@email.com">
      <span class="errorMsg">{{ errors.first('email') }}</span>
    </div>

    <div class="formGroup"
         :class="{ 'invalid' : errors.has('password')}">
      <label for="password">Password</label>
      <input type="password"
             name="password"
             id="password"
             data-vv-as="密碼"
             data-vv-validate-on="none"
             v-validate="'required'"
             v-model="CreateAccount.password"
             placeholder="●●●●●●●●">
      <span class="errorMsg">{{ errors.first('password') }}</span>
    </div>

    <div class="formGroup"
         :class="{ 'invalid' : errors.has('password2')}">
      <label for="password2">Comfirm Password</label>
      <input type="password"
             name="password2"
             id="password2"
             data-vv-as="確認密碼"
             data-vv-validate-on="none"
             v-validate="{'required': 'true', 'is': CreateAccount.password}"
             v-model="CreateAccount.password2"
             placeholder="●●●●●●●●">
      <span class="errorMsg">{{ errors.first('password2') }}</span>
    </div>

    <button class="bt_submit"
            @click="submit">SUBMIT & NEXT</button>
  </div>
</div>
