// color
$color-blue-dark: #0275d8;
$color-blue-light: #bee1ff;
$color-orange: #f5a623;
$color-gray: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-bg-gray: #f2f2f2;

// font size
$font-size-title: 48px;
$font-size-subtitle: 24px;
$font-size-form: 20px;
$font-size-lable: 14px;

// breakpoint
$mq-pad: 768px;
$mq-mobile: 767px;
